In [21]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Urucara,BR,2021-02-02 20:24:09,-2.5364,-57.7600,83.57,84,99,1.95
1,1,Bilibino,RU,2021-02-02 20:24:09,68.0546,166.4372,-3.06,85,6,5.32
2,2,Mehamn,NO,2021-02-02 20:24:09,71.0357,27.8492,24.80,80,90,24.16
3,3,Zhanaozen,KZ,2021-02-02 20:24:09,43.3000,52.8000,43.72,64,91,18.66
4,4,Kamaishi,JP,2021-02-02 20:24:09,39.2667,141.8833,22.21,86,0,6.08

In [23]:
# get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [25]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [33]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [38]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Urucara,BR,2021-02-02 20:24:09,-2.5364,-57.7600,83.57,84,99,1.95
6,6,Rikitea,PF,2021-02-02 20:21:03,-23.1203,-134.9692,77.97,76,77,15.35
10,10,Saint-Philippe,RE,2021-02-02 20:24:10,-21.3585,55.7679,78.80,83,0,2.30
12,12,Souillac,MU,2021-02-02 20:24:10,-20.5167,57.5167,80.60,74,75,11.50
17,17,Lorengau,PG,2021-02-02 20:22:08,-2.0226,147.2712,81.27,83,99,10.87
36,36,Vaini,TO,2021-02-02 20:21:23,-21.2000,-175.2000,80.60,94,75,2.30
38,38,Kapaa,US,2021-02-02 20:24:14,22.0752,-159.3190,75.20,83,40,14.97
42,42,Grand-Lahou,CI,2021-02-02 20:24:15,5.1367,-5.0242,79.25,87,22,7.16
44,44,Kloulklubed,PW,2021-02-02 20:24:15,7.0419,134.2556,75.20,94,75,4.61
45,45,Birao,CF,2021-02-02 20:24:15,10.2849,22.7882,80.38,20,0,4.18

In [42]:
preferred_cities_df=preferred_cities_df.dropna()

In [43]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [44]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0          Urucara      BR     83.57  -2.5364  -57.7600
6          Rikitea      PF     77.97 -23.1203 -134.9692
10  Saint-Philippe      RE     78.80 -21.3585   55.7679
12        Souillac      MU     80.60 -20.5167   57.5167
17        Lorengau      PG     81.27  -2.0226  147.2712
36           Vaini      TO     80.60 -21.2000 -175.2000
38           Kapaa      US     75.20  22.0752 -159.3190
42     Grand-Lahou      CI     79.25   5.1367   -5.0242
44     Kloulklubed      PW     75.20   7.0419  134.2556
45           Birao      CF     80.38  10.2849   22.7882

In [48]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [55]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [54]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Urucara,BR,83.57,-2.5364,-57.7600,Hotel japa
6,Rikitea,PF,77.97,-23.1203,-134.9692,Pension Maro'i
10,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
12,Souillac,MU,80.60,-20.5167,57.5167,Shanti Maurice Resort & Spa
17,Lorengau,PG,81.27,-2.0226,147.2712,Lorengau Harbourside Hotel
...,...,...,...,...,...,...
568,Tulum,MX,77.00,20.2167,-87.4667,
571,Mahibadhoo,MV,82.49,3.7833,72.9667,
578,Businga,CD,80.76,3.3333,20.8833,
583,Rio Grande,BR,86.00,-32.0350,-52.0986,
585,Upata,VE,86.00,8.0086,-62.3989,Posada Villa Nela

In [57]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [59]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))